<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.spring.flea.dao.FleaReplyMapper">
	<select id="replyList" resultType="fleaReplyVO">
		SELECT *
			FROM (SELECT a.*, rownum
				FROM (SELECT * 
					FROM profleaReply r JOIN promember m USING (m_num) JOIN promember_detail d USING (m_num) WHERE fb_num=#{fb_num})a)
				ORDER BY fr_num
	</select>
</mapper>